<div class="wrapper">
    <div class="content_wrapper">
        <section class="flight_select_breadcrum col_all">
            <div class="breadcrum_item current">
                <p>Select your flight </p>
            </div>

            <div class="breadcrum_item">
                <p>Add passengers</p>
            </div>

            <div class="breadcrum_item">
                <p>Complete payment</p>
            </div>

            <div class="breadcrum_item">
                <p>Your booking</p>
            </div>
        </section>

        <section class="flights_calendar_week col_all">
            <div class="flights_calendar_day" *ngFor="let dayData of outboundArr | slice:0:7">
                <div class="flight_calendar_day_price">
                    <p>{{ dayData.departure | date:"shortTime"}}</p>
                    <span class="price">{{ dayData.price | currency:'EUR' }}</span>
                </div>
            </div>
        </section>

        <section class="flight_list_display col_all">
            <h3 class="section_title" *ngIf="!shown">
                <span>{{this.uniqueFromCity}}, {{this.uniqueFromName}}</span>
                <span class="fromToArrow_container"><img class="fromToArrow" src="assets/arrDown.png" alt=""></span>
                <span>{{this.uniqueToCity}}, {{this.uniqueToName}}</span>
            </h3>

            <article class="col_all" *ngFor="let result of outboundArr | slice:0:4">

                <app-flight-results-card (flightClicked)="onFlightClikedOutbond($event)" [result]="result"
                    [passengers]="passengers">
                </app-flight-results-card>
            </article>
        </section>



        <section class="flights_calendar_week col_all">
            <div class="flights_calendar_day" *ngFor="let dayData of returnArr">
                <div class="flight_calendar_day_price">
                    <p>{{ dayData.departure | date:"shortTime"}}</p>
                    <span class="price">{{ dayData.price | currency:'EUR' }}</span>
                </div>
            </div>
        </section>


        <section class="flight_list_display col_all">
            <h3 class="section_title" *ngIf="!hide">
                <span>{{this.uniqueToCity}},
                    {{this.uniqueToName}}
                </span>
                <span><img class="fromToArrow" src="assets/arrDown.png" alt=""></span>
                <span>{{this.uniqueFromCity}},
                    {{this.uniqueFromName}}</span>
            </h3>
            <article *ngFor="let result of returnArr | slice:0:4">
                <app-flight-results-card (flightClicked)="onFlightClikedReturn($event)" [result]="result"
                    [passengers]="passengers">
                </app-flight-results-card>
            </article>
        </section>


        <div class="total_flights">
            <span class="total_price">{{totalOutbound + totalReturn |currency:'EUR'}} </span>

            <input (click)="checkoutOnClick()" class="btn btn_light" type="submit" value="Confirm">
        </div>
    </div>
</div>