<section class="wrap1">
    <h2 class="outbond">OUTBOND FLIGHTS</h2>
    <!-- <hr> -->
    <article *ngFor="let result of outboundArr">

        <app-flight-results-card [result]="result" [passengers]="passengers"> </app-flight-results-card>
    </article>
</section>

<section class="wrap2">
    <h2 class="return">RETURN FLIGHTS</h2>
    <!-- <hr> -->
    <article *ngFor="let result of returnArr">

        <app-flight-results-card [result]="result" [passengers]="passengers"> </app-flight-results-card>
    </article>
</section>