.content_wrapper {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
}

.section_title {
    line-height: 2.5rem;
}


.flights_calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding-bottom: 15px;
}

.flight_list_display {
    display: grid;
    grid-gap: 1rem;
}

.total_flights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.total_price {
    font-size: 1.2rem;
    font-weight: 700;
}

.fromToArrow {
    rotate: -90deg;
    width: 30px;
    margin: 0 10px;
}

.flights_calendar_week {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: space-between;
    color: var(--almostBlack);
}

.flights_calendar_day {
    display: flex;
    width: 20%;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    color: var(--darkGrey);
    flex: 1;
}


.flight_calendar_day_price {
    display: grid;
    width: max-content;
    grid-row-gap: .5rem;
    text-align: center;
    padding: 10px;
    border: 2px solid var(--lightGrey);
    cursor: pointer;
    transition: 0.25s;
    border-radius: 10px;
}

.flight_calendar_day_price:hover {
    border: 2px var(--primaryYellow) solid;
}


@media (width < 600px) {
    .breadcrum_item {
        font-size: .8rem;
        padding: 5px 10px;
    }

    .flights_calendar_week {
        grid-gap: .1rem;
    }

    .flight_calendar_day_price {
        font-size: .8rem;
    }

}