.flight_search_form {
    grid-auto-flow: dense;
    background-color: white;
}


.flight_search_form .form_field {
    grid-column: span 2;
}

.flight_search_form .form_field:nth-child(1) {
    grid-column: span 2;
}

.flight_search_form .form_field:nth-child(2),
.flight_search_form .form_field:nth-child(3) {
    grid-column: span 3;
}

.flight_search_form .btn {
    grid-column: 7/9;
    grid-row: 3;
}


@media (width < 992px) {

    .flight_search_form {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .flight_search_form .form_field,
    .flight_search_form .form_field:nth-child(1),
    .flight_search_form .form_field:nth-child(2),
    .flight_search_form .form_field:nth-child(3) {
        grid-column: span 2;
    }

    .flight_search_form .btn {
        grid-column: 3/5;
        grid-row: 4;
    }

}

@media (width < 768px) {


    .flight_search_form {
        grid-gap: 2rem;
    }

    .flight_search_form {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
    }

    .flight_search_form .form_field,
    .flight_search_form .form_field:nth-child(1),
    .flight_search_form .form_field:nth-child(2),
    .flight_search_form .form_field:nth-child(3) {
        grid-column: span 4;
        grid-row: unset;
    }

    .flight_search_form .btn {
        grid-column: span 4;
        grid-row: 8;
    }

}