<footer>
    <div class="content_wrapper">
        <div class="footer_col">
            <img src="assets/logo.png" alt="" class="logo">
            <div class="social_media">
                <p>Follow us</p>
                <div class="social_icons">
                    <img src="assets/insta.svg" alt="" class="social_icon">
                    <img src="assets/linkedin.svg" alt="" class="social_icon">
                    <img src="assets/twitter.svg" alt="" class="social_icon">
                </div>
            </div>
        </div>
        <div class="footer_col">
            <nav class="footer_navbar">
                <ul>
                    <li class="navbar_item">
                        <a href="">BOOKINGS</a>
                    </li>
                    <li class="navbar_item">
                        <a href="">Checkin</a>
                    </li>
                    <li class="navbar_item">
                        <a href="">Manage your BOOKINGS</a>
                    </li>
                    <li class="navbar_item">
                        <a href="">Flight status</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer_col">
            <nav class="footer_navbar">
                <ul>
                    <li class="navbar_item">
                        <a href="">SUPPORT</a>
                    </li>
                    <li class="navbar_item">
                        <a href="">Contact us</a>
                    </li>
                    <li class="navbar_item">
                        <a href="">Carreers</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>