<footer>
    <div class="footer_col">
        <img src="" alt="" class="logo">
        <div class="social_media">
            <p>Follow us</p>
            <img src="" alt="" class="social_icon">
            <img src="" alt="" class="social_icon">
            <img src="" alt="" class="social_icon">
        </div>
    </div>
    <div class="footer_col">
        <nav class="footer_navbar">
            <ul>
                <li class="navbar_item"><strong>BOOKINGS</strong></li>
                <li class="navbar_item">Checkin</li>
                <li class="navbar_item">Manage your BOOKINGS</li>
                <li class="navbar_item">Flight status</li>
            </ul>
        </nav>
    </div>
    <div class="footer_col">
        <nav class="footer_navbar">
            <ul>
                <li class="navbar_item"><strong>SUPPORT</strong></li>
                <li class="navbar_item">Contact us</li>
                <li class="navbar_item">Carreers</li>
            </ul>
        </nav>
    </div>
</footer>