<header class="header" [ngClass]="{active : isOpen}">

    <a class="logo_container" [routerLink]="['/']">
        <img src="assets/logo.png" alt="Flightify Logo">
    </a>

    <div class="hamb_menu" (click)="toggleMenu()">
        <div class="hamb_menu_line"></div>
        <div class="hamb_menu_line"></div>
        <div class="hamb_menu_line"></div>
    </div>

    <div class="header_nav_container">
        <nav class="main_navbar">
            <ul>
                <li class="navbar_item">
                    <a [routerLink]="['/user']">My reservation</a>
                </li>
                <li class="navbar_item">
                    <a [routerLink]="['/user']">Check in</a>
                </li>
                <li class="navbar_item">
                    <a [routerLink]="['/user']">Flight Status</a>
                </li>
            </ul>
        </nav>

        <nav class="register_navbar">
            <span class="material_icon material-symbols-outlined">
                account_circle
            </span>
            <li *ngIf="!userService.isLogged()" class="navbar_item">
                <a [routerLink]="['/login']">Login</a>
            </li>
            <div *ngIf="!userService.isLogged()" class="hor_nav_divider"></div>
            <li *ngIf="!userService.isLogged()" class="navbar_item">
                <a [routerLink]="['/register']">Register</a>
            </li>

            <li *ngIf="userService.isLogged()" class="navbar_item">
                <a [routerLink]="['/user']">My flights</a>
            </li>
            <div *ngIf="userService.isLogged()" class="hor_nav_divider"></div>
            <li *ngIf="userService.isLogged()" (click)="onClickLogout()" class="navbar_item">
                <a [routerLink]="['/register']">Log out</a>
            </li>
        </nav>
    </div>

</header>