<div class="form" [ngClass]="{active : isOpen}">
    <h3 class="form_title" (click)="toggleForm()">Edit airport information</h3>
    <img class="open_form" src="assets/arrDown.png" alt="Arrow down">
    <form class="form flight_registration_form col_all" [formGroup]="flightSearchForm">
        <h4 class="form_title">Choose an airport</h4>
        <div class="form_field col_2">
            <label>Flight id:</label>
            <input type="text" formControlName="flight_id" placeholder="E.g.: 1">
            <div class="form_field_underline"></div>
        </div>

        <button class="btn col_2" type="button" (click)="getFlight()">Choose this flight</button>
    </form>


    <form class="form flight_registration_form col_all" [formGroup]="flightEditForm">
        <h4 class="form_title">General information (cannot be edited)</h4>
        <div class="form_field col_4">
            <label>Flight id:</label>
            <input type="text" formControlName="flight_id">
            <div class="form_field_underline"></div>
        </div>
        <div class="form_field col_4">
        </div>
        <div class="form_field col_4">
            <label>Origin airport ID:</label>
            <input type="text" formControlName="origin_id">
            <div class="form_field_underline"></div>
        </div>
        <div class="form_field col_4">
            <label>Destination airport ID</label>
            <input type="text" formControlName="destination_id">
            <div class="form_field_underline"></div>
        </div>
        <div class="form_field col_4">
            <label>Seats left:</label>
            <input type="text" formControlName="available_seats">
            <div class="form_field_underline"></div>
        </div>
        <div class="form_field col_4">
            <label>Luggage space left:</label>
            <input type="text" formControlName="available_luggage">
            <div class="form_field_underline"></div>
        </div>
        <div class="form_field col_4">
            <label>Departure:</label>
            <p>{{ targetFlight.departure| date:'medium' }}</p>
            <div class="form_field_underline"></div>
        </div>
        <div class="form_field col_4">
            <label>Arrival:</label>
            <p>{{ targetFlight.arrival | date:'medium' }}</p>
            <div class="form_field_underline"></div>
        </div>


        <h4 class="form_title">Specific information</h4>
        <div class="form_field col_4">
            <label for="departDate">New departure date:</label>
            <input type="date" formControlName="departure_date" placeholder="Select departure date">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('name', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label for="departDate">New departure time:</label>
            <input type="time" formControlName="departure_time" placeholder="Select departure date">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('name', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label for="arriveDate">New arrival date:</label>
            <input type="date" formControlName="arrival_date" placeholder="Select arrival date">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('name', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label for="arriveDate">New arrival time:</label>
            <input type="time" formControlName="arrival_time" placeholder="Select arrival date">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('name', 'required') || error">Can't be blank.</p>
        </div>

        <div class="form_field col_4">
            <label>Duration:</label>
            <input type="text" formControlName="duration">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('duration', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>Status:</label>
            <select formControlName="status">
                <option>active</option>
                <option>delayed</option>
                <option>cancelled</option>
            </select>
            <div class="form_field_underline"></div>
        </div>
        <div class="form_field col_4">
            <label>Terminal:</label>
            <input type="text" formControlName="terminal">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('terminal', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>Gate:</label>
            <input type="text" formControlName="gate">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('gate', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>Price:</label>
            <input type="text" formControlName="price">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('price', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>Image:</label>
            <input type="text" formControlName="img">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('img', 'required') || error">Can't be blank.</p>
        </div>


        <button class="btn btn-success col_all" type="button" (click)="editToggle()">Edit information</button>

    </form>
</div>