<!--status top line-->

<section class="body">
    <div class="options">
        <div class="arrow">
            <span class="option1">1 - Select your flight </span>
            <div class="triangle1"></div>
        </div>
        <div>
            <span class="option2">2 - Add passengers</span>
        </div>
        <div>
            <span class="option3">3 - Complete payment</span>
        </div>
        <div>
            <span class="option4">4 - Your booking</span>
            <div class="triangle2"></div>
        </div>
    </div>
</section>




<section class="wrapper">
    <div class="info">
        <app-reservation-card [reservation]="reservation"
            *ngFor="let reservation of arrReservations[0]"></app-reservation-card>
    </div>

</section>
<section class="wrapper">
    <div class="info">
        <app-reservation-card [reservation]="reservation"
            *ngFor="let reservation of arrReservations[1]"></app-reservation-card>
    </div>

</section>