<!--status top line-->

<div class="content_wrapper">
    <section class="flight_select_breadcrum col_all">
        <div class="breadcrum_item">
            <p>Select your flight </p>
        </div>

        <div class="breadcrum_item">
            <p>Add passengers</p>
        </div>

        <div class="breadcrum_item">
            <p>Complete payment</p>
        </div>

        <div class="breadcrum_item current">
            <p>Your booking</p>
        </div>
    </section>
    <h1 class="section_title">Your bookings</h1>




    <section class="reservations_container">
        <app-reservation-card [reservation]="reservation"
            *ngFor="let reservation of arrReservations[0]"></app-reservation-card>
    </section>

    <section class="reservations_container">
        <app-reservation-card [reservation]="reservation"
            *ngFor="let reservation of arrReservations[1]"></app-reservation-card>
    </section>

    <h4 class="section_title">You're al set! Access your <span class="link" [routerLink]="['/user']">user panel</span>
        to see the details of your
        flights.</h4>
</div>