.reservation_card {
    display: grid;
    grid-row-gap: 2rem;
    padding: 20px;
    background-color: var(--lightGrey);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation_card_title {
    text-align: center;
}

.flight_summary {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--DP2);
}


.flight_info_row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid var(--grey);
}

.flight_info_key {
    font-weight: bold;
    color: var(--almostBlack);
}