<section class="card">
    <div class="card-header">
        <div class="card-logo">
            <div class="card-details">
                <p>{{reservation.passenger_name}}</p>
                <p>{{reservation.arrival | date}}</p>
                <p>{{reservation.departure | date: "shortTime"}}</p>
                <p>{{reservation.city}}</p>
                <p>{{reservation.destination_city}}</p>
                <p>{{reservation.id}}</p>
                <p>{{reservation.passport}}</p>

            </div>
        </div>

    </div>
</section>