<section class="card">
    <div class="card-header">
        <div class="card-logo">
            <div class="card-details">
                <p>{{details.passenger_name}}</p>
                <p>{{details.arrival | date}}</p>
                <p>{{details.departure | date: "shortTime"}}</p>
                <p>{{details.city}}</p>
                <p>{{details.destination_city}}</p>
                <p>{{details.id}}</p>
                <p>{{details.passport}}</p>

            </div>
        </div>

    </div>
</section>