.content_wrapper {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
}

.passenger_reservation_forms {
    display: grid;
    max-height: 50vh;
    grid-row-gap: 2rem;
    height: max-content;
    overflow: scroll;
}

/* Firefox */
.passenger_reservation_forms {
    scrollbar-width: thin;
    scrollbar-color: #ffd800 #ffffff;
    border: solid 2px var(--lightGrey);
    padding: 10px;
}

/* Chrome, Edge, and Safari */
.passenger_reservation_forms::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.passenger_reservation_forms::-webkit-scrollbar-track {
    background: #ffffff;
}

.passenger_reservation_forms::-webkit-scrollbar-thumb {
    background-color: #ffd800;
    border-radius: 5px;
    /* Adjust the border-radius for rounded ends */
    border: 3px solid #ffffff;
}

.flight_search_form {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 0px;
    border: none;
    border-left: 6px var(--primaryYellow) solid;
    margin: auto;
}

.flight_search_form.completed_form {
    border-left: 6px var(--primaryGreen) solid;
}

.passenger_form {
    display: grid;
    grid-row-gap: 1rem;
}

.flight_search_form .btn {
    margin: auto;
    background-color: var(--primaryYellow);
}

.flight_search_form .btn:disabled {
    background-color: var(--grey);
}

.pasenger_name {
    margin: auto;
    opacity: .6;
}

.reservation_icon {
    margin: auto;
    opacity: .6;
    display: var(--onlydesktopGrid);
}

@media (width < 768px) {
    .flight_search_form {
        grid-template-columns: 1fr;
    }
}