<div class="form" [ngClass]="{active : isOpen}">
    <h3 class="form_title" (click)="toggleForm()">Edit airport information</h3>
    <img class="open_form" src="assets/arrDown.png" alt="Arrow down">
    <form class="form flight_registration_form col_all" [formGroup]="airportSearchForm">
        <h4 class="form_title">Choose an airport</h4>
        <div class="form_field col_2">
            <select formControlName="airport_id">
                <option *ngFor="let airport of arrAirports" [ngValue]="airport.id">
                    {{airport.country}} |
                    {{airport.city}} |
                    {{airport.name_acr}}
                </option>
            </select>
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('airport_id', 'required') || error">Can't be blank.</p>
        </div>

        <button class="btn col_2" type="button" (click)="getAirport()">Choose this airport</button>
    </form>
    <form class="form flight_registration_form col_all" [formGroup]="airportEditForm">
        <h4 class="form_title">Airport information</h4>
        <div class="form_field col_4">
            <label>Airport name:</label>
            <input type="text" formControlName="name" placeholder="Name of the airport">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('name', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>Airport acronym:</label>
            <input type="text" formControlName="name_acr">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('name_acr', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>City name:</label>
            <input type="text" formControlName="city">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('city', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>City acronym:</label>
            <input type="text" formControlName="city_acr">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('city_acr', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>Country name:</label>
            <input type="text" formControlName="country">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('country', 'required') || error">Can't be blank.</p>
        </div>
        <div class="form_field col_4">
            <label>Country acronym:</label>
            <input type="text" formControlName="country_acr">
            <div class="form_field_underline"></div>
            <p class="field_error" *ngIf="checkError('country_acr', 'required') || error">Can't be blank.</p>
        </div>


        <button class="btn btn-success col_all" type="button" (click)="editToggle()">Edit information</button>

    </form>
</div>