.flight_registration_form {
    width: 100%;
    height: max-content;
    padding: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.flight_registration_form:hover {
    box-shadow: none;
    border: none;
}


h4.form_title {
    text-align: left;
    margin-top: 1rem;
}