.content_wrapper.login {
    display: grid;
    min-height: 60vh;
    grid-row-gap: 1rem;
}

.content_wrapper.login .form {
    width: 500px;
    margin: auto;
}

.content_wrapper.login .form .btn {
    margin: auto;
}

@media (width < 600px) {
    .content_wrapper.login .form {
        width: 90%;
    }
}