#container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0;
    gap: 30px;

}

.read {
    font-size: smaller;
    text-align: center;
    display: flex;
    justify-content: center;
}


.item .heading {
    background-color: lightgray;
    padding: 30px 30px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}

.item .heading:hover {
    background-color: #FFD800;
    outline: 1px solid #FFD800;

}

.content {
    background-color: lightgray;
    padding: 0px 20px;
    border: 1px solid #FFD800;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.active .content {
    padding: 20px;
    max-height: inherit;
}

.btn:hover {
    background-color: #FFD800;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    font-size: 24;
}

.label {
    position: relative;
    width: 25px;
    height: 25px;
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
}

.alert {
    padding: 20px;
    background-color: green;
    color: white;
    width: 350px;
    height: auto;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(35%, -50%);
    padding: 30px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 5px;
    right: 5px;
}

.closebtn:hover {
    color: black;
}