<div class="wrapper">
    <div class="content_wrapper">
        <div class="aside_navbar">
            <div class="aside_floating_nav">
                <h3 class="section_title aside_title">What can we get you today?</h3>
                <nav>
                    <ul>
                        <li class="navbar_item">
                            <a [routerLink]="['/user']" fragment="user_details" (click)="scrollToSection()">Personal
                                information</a>
                        </li>
                        <li class="navbar_item">
                            <a [routerLink]="['/user']" fragment="user_checkIn" (click)="scrollToSection()">Check in</a>
                        </li>
                        <li class="navbar_item">
                            <a [routerLink]="['/user']" fragment="user_booking" (click)="scrollToSection()">See my
                                bookings</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="panel_content">

            <section class="panel_content_section user_details" id="user_details">
                <h4 class="section_title">Personal information</h4>
                <form class="form" [formGroup]="userEditForm">
                    <div class="form_field col_4">
                        <label>First name:</label>
                        <input type="text" formControlName="first_name">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field col_4">
                        <label>Last name:</label>
                        <input type="text" formControlName="last_name">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field col_4">
                        <label>Email:</label>
                        <input type="text" formControlName="email">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field col_4">
                        <label>Phone number:</label>
                        <input type="text" formControlName="phone">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field col_4">
                        <label>Passport:</label>
                        <input type="text" formControlName="passport">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field col_4">
                        <label>Membership:</label>
                        <input type="text" formControlName="membership">
                        <div class="form_field_underline"></div>
                    </div>
                    <button class="btn btn_yellow col_all" type="button" (click)="editToggle()">Edit
                        information</button>
                </form>
            </section>
            <section class="panel_content_section user_checkIn" id="user_checkIn">
                <h3 class="section_title">Check in</h3>
                <form class="form flight_registration_form">
                    <div class="form_field col_4">
                        <!-- <label>Flight number</label> -->
                        <input placeholder="Flight number" type="text">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field col_4">
                        <!-- <label>Last name:</label> -->
                        <input placeholder="Last name" type="text">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field col_4">
                        <!-- <label>Email:</label> -->
                        <input placeholder="Flight date" type="text">
                        <div class="form_field_underline"></div>
                    </div>
                    <button *ngIf="!hide" class="btn btn_yellow col_all" type="button" (click)="onClick($event)">Check
                        In</button>
                </form>
            </section>
            <section class="panel_content_section user_booking" [ngClass]="{active : isOpen}" id="user_booking">
                <h3 class="section_title" (click)="toggleForm()">See my bookings <span>Click to see all your
                        bookings</span></h3>

                <img class="open_form" src="assets/arrDown.png" (click)="toggleForm()" alt="Arrow down">
                <app-reservation-card [reservation]="reservation"
                    *ngFor="let reservation of arrReservations"></app-reservation-card>
            </section>

        </div>
    </div>
</div>