.content_wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 100vh;
    max-width: unset;
    padding: 0em;
}

.form {
    border: none;
    border-radius: 0em;
    box-shadow: unset;
}

.aside_navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--primaryYellow);
}

.aside_floating_nav {
    display: grid;
    grid-row-gap: 2rem;
    position: sticky;
    top: 0;
}

.aside_navbar ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar_item {
    position: relative;
    display: flex;
    gap: .5rem;
    align-items: center;
    width: max-content;
}

.navbar_item img {
    width: 1.5625em;
    object-fit: contain;
}


.navbar_item a {
    font-size: 1.3rem;
    text-align: left;
    cursor: pointer;
}

.navbar_item::before {
    position: absolute;
    bottom: -0.25em;
    left: -0.25em;
    content: '';
    width: 104%;
    height: 0.125em;
    background-color: var(--almostBlack);
    border-radius: 1.25em;
    transform: scale(1);
    transform-origin: left;
    transition: .25s;
}

.navbar_item:hover::before {
    transform: scale(0);
}

.navbar_item::after {
    content: '';
    position: absolute;
    left: -0.3125em;
    bottom: -0.25em;
    height: 104%;
    width: 0.125em;
    transform: scale(0);
    transform-origin: bottom;
    transition: .25s;
    background-color: var(--almostBlack);
    border-radius: 1.25em;
}

.navbar_item:hover::after {
    transform: scale(1);
}

.aside_contact {
    display: flex;
    gap: 1rem;
    position: fixed;
    width: 30%;
    bottom: 0%;
    left: 0;
    padding: 2rem;
    background-color: var(--primaryYellow);
}

.aside_contact img {
    width: 1.875em;
    object-fit: contain;
}

.aside_contact h5 span {
    font-weight: 700;
}

.panel_content {
    display: grid;
    grid-row-gap: 2rem;
    padding: 2rem var(--contentPadding);
    grid-template-rows: min-content;

}

.panel_content_section {
    display: grid;
    grid-row-gap: 1.5rem;
    padding: 0.625em;
    height: min-content;
    box-shadow: var(--DP2);
    border-radius: 0.625em;
}

.panel_content_section>* {
    width: 100%;
}

.user_booking {
    display: grid;
    grid-row-gap: 2rem;
    position: relative;
    height: 5em;
    overflow: hidden;
}

.section_title {
    padding: 0.9375em 0em;
    cursor: pointer;
    display: flex;
    gap: 1rem;
}

.section_title span {
    font-size: 1rem;
    margin: auto auto 0.3125em 0em;
}

.user_booking.active {
    height: max-content;
}


.open_form {
    position: absolute;
    width: 25px !important;
    top: 1.6875em;
    right: 1.25em;
    transition: .25s;
}


.user_booking.active .open_form {
    transform: rotate(180deg);
}

.checkin_alert {
    display: none;
}

.checkin_alert.checked {
    display: block;
}

@media (width < 1000px) {
    .navbar_item a {
        font-size: 1rem;
        font-weight: bold;
    }

    .content_wrapper {
        grid-template-columns: 100%;
    }

    .aside_navbar {
        width: 100%;
        z-index: 1;
        top: 0;
        padding: 1rem;
        bottom: 0em;
        box-shadow: var(--DP2);
    }

    .aside_navbar ul {
        flex-direction: row;
    }

    .aside_floating_nav {
        position: relative;
        gap: 0.5rem;
    }

    .aside_navbar ul {
        gap: 1rem;
    }

    .aside_contact {
        display: flex;
        gap: 1rem;
        position: fixed;
        width: 4.375em;
        height: 4.375em;
        bottom: 1rem;
        right: 1rem;
        left: unset;
        padding: 0rem;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: var(--DP4);
        z-index: 100;
    }

    .aside_contact img {
        width: 100%;
        padding: 1rem;
    }

    .aside_contact h5 {
        display: none;
    }


    .section_title {
        font-size: 1.5rem;
    }

}

@media (width < 550px) {

    .aside_navbar {
        position: relative;
    }

    .aside_navbar ul {
        flex-direction: column;
    }

}