<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">

        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <input type="submit" value="Submit" class="btn btn-info">
    </form>
</div>
<div>
    |
</div>

<div>
    <app-register></app-register>
</div>