.wrap {
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;

}


.login {
    align-self: flex-end;
    flex: 2;
    margin: 4rem 116px 4rem 0;
    font-size: 50px;
    line-height: 60px;
    margin: .5rem 0;
    margin-top: 1.3rem;
    text-align: left;


}

.line {

    display: block;
    height: auto;
    width: 0;
    border: .5px #ececed solid;
}

.register {
    align-self: flex-end;
    flex: 2;
    margin: 4rem 116px 4rem 0;
    font-size: 50px;
    line-height: 60px;
    margin: .5rem 0;
    margin-top: 1.3rem;
    text-align: left;

}