<section class="wrap">

    <div class="login">
        <div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form_field">

                    <label>Email</label>
                    <input placeholder="Email Address" type="email" class="form-control" formControlName="email">

                </div>
                <div class="form_field_underline"></div>
                <div class="form_field">
                    <label>Password</label>
                    <input placeholder="Security Password" type="password" class="form-control"
                        formControlName="password">
                </div>
                <div class="form_field_underline"></div>
                <input type="submit" value="Submit" class="btn btn-info">
            </form>
        </div>
    </div>


    <div class="line">

    </div>


    <div class="register">
        <app-register></app-register>
    </div>
</section>