<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
                    <div class="meow">
                        <label class="meow-label">Origin</label>
                        <select formControlName="origin_id">
                            <option *ngFor="let airport of arrAirports" [ngValue]="airport.id">
                                {{airport.country}} |
                                {{airport.city}} |
                                {{airport.name_acr}}
                            </option>
                        </select>
                    </div>
                    <div class="meow">
                        <label class="meow-label">Destination</label>
                        <select formControlName="destination_id">
                            <option *ngFor="let airport of arrAirports" [ngValue]="airport.id">
                                {{airport.country}} |
                                {{airport.city}} |
                                {{airport.name_acr}}
                            </option>
                        </select>
                    </div>


                    <!-- Find how to let a person choose date and time through selector -->
                    <div class="form_field">
                        <label for="departDate">Departure:</label>
                        <input type="datetime" formControlName="departure" placeholder="Select departure date">
                        <div class="form_field_underline"></div>
                    </div>
                    <div class="form_field">
                        <label for="departDate">Arrival:</label>
                        <input type="datetime" formControlName="arrival" placeholder="Select departure date">
                        <div class="form_field_underline"></div>
                    </div>


                    <!-- 
            origin_id: number,
            destination_id: number,
            destination_city: string,
            departure: Date,
            arrival: Date,
            duration: number,
            price: number,
            available_seats: number,
            available_luggage: number,
            terminal: number,
            gate: number,
            img: string, -->

                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>