.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper:hover {
    transition-delay: 1s;
}


.results-card {
    border: 1px gray solid;
    padding: 15px;
    border-radius: 10px;
    border-left: 1px gray solid;
    padding-left: 5px;
}


.arrival {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    margin-left: 700px;
}


.city {
    font-style: bold;
    border-left: 1px gray solid;
    padding-left: 5px;
    font-size: 24px;


}

.destination-city {
    font-style: bold;
    padding-bottom: 10px;
    border-left: 1px gray solid;
    padding-left: 5px;
    font-size: 24px;

}

img {
    width: 40px;
    height: 15px;


}

a {
    margin-top: 10px;
}

button {
    background-color: cornflowerblue;
    cursor: pointer;
    border: none;
    padding: 10px 26px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    border-radius: 5px;





}