.flight_result_card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--DP2);
    justify-content: space-between;
    transition: .25s;
}

.flight_result_card:hover {
    box-shadow: var(--DP4);
}

.flight_results {
    display: grid;
    padding: 20px;
    border-radius: 5px;
}

.flight_route_graph {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.flight_route_graph_line {
    width: 100%;
    border: 1px var(--grey) solid;
}

.logo {
    display: flex;
    width: 80px;
    height: max-content;
}

.logo img {
    width: 100%;
    margin: auto;
}

.plane_icon {
    width: 23px;
    opacity: 0.3;
}

.flight_details {
    display: flex;
    justify-content: space-around;
}

.value1 {
    color: cornflowerblue;
    font-weight: bold;
    opacity: 0.9;
}

.results-card .btn {
    margin-right: 0;
}

@media (width < 600px) {
    .flight_details {
        display: flex;
        justify-content: space-between;
    }


}