.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
}

.results-card {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: grid;
}

.line {
    display: flex;
    height: 0;
    width: 40%;
    border: .5px #ececed solid;
    margin-bottom: 10px;
    margin: 20px;
}

.flight_info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.logo {
    text-align: left;
    display: flex;
    width: 35px;
    height: 20px;
}

.plane {
    width: 23px;
    opacity: 0.3;
}

.journey {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.journey .label {
    font-weight: bold;
    justify-content: center;
}

.journey .value3 {
    padding-right: 10px;
}

.second-line {
    display: flex;
    justify-content: space-around;
}

.value1 {
    color: cornflowerblue;
    font-weight: bold;
    opacity: 0.9;
}

.results-card .btn {
    margin-right: 0;
}