/* CSS reset */
@import url(reset.css);

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

/* Material design Icons*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


:root {
    /* Global variables */

    /* Standard spaces */
    --contentPadding: 1rem;
    --sectionInnerGap: 2rem;

    /* Responsive-conditioned displays */
    --onlydesktopGrid: none;
    --onlyDesktopFlex: none;
    --onlyMobileGrid: grid;
    --onlyMobileFlex: flex;

    /* colors */
    --almostBlack: #313131;
    --darkGrey: #545454;
    --grey: #D6D6D6;
    --lightGrey: #F3F3F3;
    --primaryYellow: #FFD800;
    --primaryGreen: #26ff00;
    --errorRed: #DB4437;
    --linkBlue: #0026ff;

    /* shadow depths */
    --DP2: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    ;
    --DP4: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    ;
    --DP6: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    ;
    --DP8: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    ;
    --DP10: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    ;


    /* Sections */
    --col4SectionGTC: 1fr;
    --col_4_GC: 1/-1;
    --col_2_GC: 1/-1;

}

@media (width > 540px) {
    :root {}
}

@media (width > 768px) {
    :root {
        --onlydesktopGrid: grid;
        --onlyDesktopFlex: flex;
        --onlyMobileGrid: none;
        --onlyMobileFlex: none;

        /* Sections */
        --col4SectionGTC: repeat(2, 1fr);
        --col_4_GC: span 4;
        --col_2_GC: span 2;
    }
}

@media (width > 992px) {
    :root {
        --contentPadding: 64px;


        /* Sections */
        --col4SectionGTC: repeat(3, 1fr);
    }
}

@media (width > 1200px) {
    :root {

        /* Sections */
        --col4SectionGTC: repeat(4, 1fr);
    }
}

@media (width >=1440px) {
    :root {
        --contentPadding: 1rem;
    }
}


/* Global css */
h1,
h2,
h3,
h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem
}

h2 {
    font-size: 2.5rem
}

h3 {
    font-size: 2rem
}

h4 {
    font-size: 1.5rem
}

h5 {
    font-size: 1.1rem
}

p,
span,
a,
option,
input,
h5 {
    font-family: 'Roboto', sans-serif;
}

.y {
    color: var(--primaryYellow);
}


.divisor {
    width: 100;
    height: 100%;
    grid-column: 1/-1;
    background-color: var(--lightGrey);
}

.link {
    position: relative;
    color: var(--linkBlue);
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
    z-index: 2;

}

* {
    color: var(--almostBlack);
    box-sizing: border-box;
}


.material_icon {
    color: var(--almostBlack);
    line-height: 26px;
}

.wrapper {
    display: grid;
}

.content_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem var(--contentPadding);
}

.hor_nav_divider {
    width: 2px;
    height: 1rem;
    background-color: var(--primaryYellow);
    margin: auto;
}

/* Global Sections */
.section_title {
    grid-column: 1/-1;
    margin-bottom: var(--sectionInnerGap);
    font-style: normal;
    margin: 0;
}


.col_4_section {
    display: grid;
    grid-template-columns: var(--col4SectionGTC);
    grid-gap: var(--sectionInnerGap);
}


/* Navbar global components */
.navbar_item a {
    color: var(--almostBlack);
    text-align: center;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Grid column */

.col_1 {
    grid-column: span 1;
}

.col_2 {
    grid-column: var(--col_2_GC);
}

.col_3 {
    grid-column: span 3;
}

.col_4 {
    grid-column: var(--col_4_GC);
}

.col_all {
    grid-column: 1/-1;
}


/* Forms */

.form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;
    position: relative;
    margin: auto;
    padding: 20px;
    box-shadow: var(--DP2);
    border-radius: 20px;
    border: 1px solid transparent;
    transition: .25s;
    overflow: hidden;
    transition: .25s;
}

.form:hover {
    border: 1px solid var(--grey);

}

.form_title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    grid-column: 1/-1;
}



.form_field {
    display: grid;
    position: relative;
    grid-row-gap: 1rem;
}

.form_field input:focus-visible {
    outline: none;
}

.form_field>* {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    color: var(--almostBlack);
    background-color: transparent;
}

.form_field_underline {
    width: 100%;
    height: 0;
    border-bottom: 1px var(--darkGrey) solid;
}

.form_field select,
option {
    background-color: white;
}

.disabled_field {
    opacity: .3;
}

.form_field .field_error {
    position: absolute;
    bottom: -20px;
    left: 0;
    max-width: 100%;
    font-size: .8rem;
    color: var(--errorRed);
}

.form_field .overlapping_field_error {
    max-width: unset;
    width: max-content;
    top: -20px;
}

.form_field_underline.error_underline {
    background-color: var(--errorRed);
}

.required_fields_error {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: var(--errorRed);
}

.form_caption {
    margin: auto;
    font-size: 1.2rem;
}

/* removes number arrows for chrome,
Safari, Edge, Opera  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ...and for Firefox */
input[type=number] {
    appearance: textfield;
}

/* Buttons */
.btn {
    width: max-content;
    padding: 1rem;
    margin: auto;
    border: none;
    border-radius: 0.625rem;
    box-shadow: var(--DP2);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    transition: .25s;
    cursor: pointer;
}

.btn_dark {
    background-color: var(--almostBlack);
    color: white;
}

.btn_dark:hover {
    background-color: var(--darkGrey);
}

.btn_light {
    background-color: white;
    color: var(--almostBlack);
}

.btn_light:hover {
    background-color: var(--lightGrey);
}

.btn_yellow {
    background-color: var(--primaryYellow);
}

/* Card general styles */

.card_txt_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: max-content;
    font-weight: 400;
    width: 100%;
    padding: 1rem;
    z-index: 2;
}

.card_txt_container>* {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}


.card_alt {
    color: var(--grey);
    font-size: 0.875rem;
}

.card_txt {
    border-left: 4px solid var(--primaryYellow);
    font-weight: 700;
    padding-left: 1rem;
}

/* Social media */

.social_media {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
}

.social_media p {
    color: var(--almostBlack);
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.social_icons {
    display: flex;
    margin: auto;
    gap: 1rem;
}

.social_icon {
    width: 25px;
}

/* Registration breadcrum */

.flight_select_breadcrum {
    display: flex;
    width: 100%;
}

.breadcrum_item {
    display: flex;
    position: relative;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    background-color: var(--lightGrey);
    border-left: 1px var(--grey) solid;
    text-align: center;
    clip-path: polygon(90% 0, 100% 48%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    padding: 5px 20px;
}

.breadcrum_item.current {
    border: 1px var(--primaryYellow) solid;
    background-color: var(--primaryYellow);
}