@import url(reset.css);

:root {}

@media (width < 540px) {
    :root {}
}

@media (width < 768px) {
    :root {}
}

@media (width < 992px) {
    :root {}
}


/* Global css */

.wrapper {
    display: gird;
}

.content_wrapper {
    max-width: 1440px;
    margin: 0 auto;
}